/* Scripts/Administrador/Vista/Css/Listas.css */

.lista {
  display: grid;
  gap: 10px;
  padding: 10px 0px;
}

.rubro {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  position: relative;
  color: white;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

.btn-ver-video {
  background-color: transparent;
  border: none;
  margin: 0px 10px;
  cursor: pointer;
}

.texto-vacio {
  color: white;
  justify-self: center;
}

.rubro:hover {
  transform: translateY(-2px); /* Efecto hover de levantamiento */
}

.rubro p {
  margin: 0.3vh;
  font-size: clamp(0.1em, 3vw, 1.5em);
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.articulo {
  background-color: transparent; /* Fondo semitransparente */
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  text-align: center; /* Para centrar el texto del nombre de la empresa */
  padding: 10px 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.articulo:hover {
  transform: translateY(-4px); /* Efecto hover de levantamiento */
}

.articulo p {
  margin: 0px;
  text-align: left;
  font-size: 24px;
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.articulo-info {
  display: flex;
  width: 100%;
  padding: 0 5px;
  flex-direction: column;
}

#nombre-articulo-modal {
  margin-bottom: 10px;
  font-size: 28px;
}

#id-articulo {
  color: #e89e13;
  font-weight: 600;
}

p.descripcion {
  color: #9f9f9f;
  font-size: 17px;
  align-self: self-start;
}

.no-procesado {
  position: relative;
  opacity: 0.7; /* opcional, para dar efecto visual */
}

.no-procesado::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 98%;
  height: 3px;
  background-color: rgba(255, 0, 0, 0.458);
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .rubro img {
    height: 3em; /* Este valor se aplica solo en pantallas pequeñas */
  }

  .articulo p {
    font-size: 20px;
  }

  p.descripcion {
    font-size: 15px;
  }
}

#lista-rubros {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.titulo-rubro {
  color: #e89e13;
  justify-content: center;
  align-items: center;
  display: flex;
}

.boton-eliminar {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 12px;
  background: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
}

.hidden {
  display: none;
}
